@media screen and (min-width: 760px)
{
  .title_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 25px;
    grid-template-rows: repeat(5, 1fr);
  }
  #mypic{
    grid-row: 1/6;
    grid-column: 1/3;
    height:100%;
  }
  #name{
    grid-row: 1/3;
    grid-column:3/5;
  }
  .icon_list{
    grid-row: 1/3;
    grid-column: 5/7;
  }
  .intro{
    grid-column: 3/7;
    grid-row: 3/4;
  }
  .title_container li{
    grid-column: span 1;
    grid-row: span 2;
  }
  .joblist{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
  }
  .jobs{
    grid-column: span 1;
  }
  .imagegrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
  }
  .gridimg{
    grid-column: span 1;
  }
  .contact_input{
    display: grid;
    grid-template-columns: 1fr 19fr;
  }
  .contact_input:nth-of-type(3){
    display: grid;
    grid-template-columns: 1fr 19fr;
  }
  .cicon{
      grid-column: span 1;
  }
  .icon_list{
    display: flex;
    align-content: space-between;
  }
  .cicon{
    display: inline-block !important;
  }

}


@media only screen and (max-width: 759px) {
    input, textarea{
      width: 100% !important;
      border-radius: 4px;
    }
}



*{
  font-family: Raleway;
  box-sizing: border-box;
  margin:0;
  border:0;

}
body{
	background: rgba(0,0,0,0.1);
}

#home, #resume, #work, #contacts{
  display: inline-block;
  width: 100%;
}
.hidden{
  display: none !important;
}
div, h1, h2, li, ul, img{
  /* margin:0; */
}
.home_content, .resume_content, .work_content, .contact_content, .ribbon{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
}
.main_container{
  width:80%;
  margin: 0 auto;
}
.title_container{
  background-color: #00ff00;
  padding:0;
  color: white !important;
}
#mypic{
  width: 100%;
}
#name{
  background: #343a40;
  font-size: 2em;
  text-align: center;
  width:100%;
}
.icon_list{
  background: #343a40;
  text-align: center;
  width:100%;
}
.icon_list .middle a i{

  margin: 0.5em;
  font-size: 1.5em;
  color: white;
}

.icon_list .middle i,.resumebtn,.homebtn,.workbtn,.contactbtn, .submit, #download_button{
  cursor: pointer;
}
.resumebtn,.homebtn,.workbtn,.contactbtn{
  min-height: 120px;
}

.intro{

  background: black;
  width:100%;
  min-height: 80px;
  padding: 1em;
}
.intro .middle .p{
  font-size: 1.5em;
}

.title_container li{
  /* display: inline-block; */
  list-style: none;
  text-align: center;
  padding-top: 2em;
}

.title_container li i{
  font-size: 2em;
}

.outer{
  display: table;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center; /* In case, if you need horizontal centering too*/
}

.h1{
  font-size: 2rem;
  font-weight: 600;
}
.h2{
  font-size: 2rem;
  font-weight: 600;
}
.h3{
  font-size: 1.5rem;
  font-weight: 600;
}
.ribbon{
  height: 200px;
  padding-top: 4em;
  padding-left: 1em;
  line-height: 2em;
}





/* tab1 starts here */

.progress_bar{
  border:0;
  margin: 0;
  background: #e9ecef;
  border-radius: 0.3em;
}
.progress{
  border:0;
  margin: 0;
  background: #28a745;
  border-radius: 0.3em;
}
.home_content{
  padding: 1em;
  line-height: 2em;
}



/*tab2 starts here */

.jobs{
  border: 1px solid grey;
  border-radius: 4px;
  margin-bottom: 1em;
}
.resume_content{
  padding: 1em;
  line-height: 2em;
}
.job_content, .date{
  padding: 1em;
}
.position, .phone{
  background: #343a40;
  padding-left: 1em;
  color: white;
  font-size: 0.8em;
}

.date{
  background: rgba(0, 0, 0, 0.03);
  color: #212529;
  border-top: 1px solid grey;
}
.position{
  margin-bottom: 1em;
  margin-top: 1em;
}

/*tab3 starts here */
.work_content{
  padding: 1em;
  line-height: 2em;
}
.gridimg{
  object-fit: cover;
}
.gridimg img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}



/*tab4 starts here */
.contact_content{
  padding: 1em;
  line-height: 2em;
}
form{
  max-width: 100%;
}
.contact_input{
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  margin-bottom: 1em;
  height: 2em;
  font-size: 1.5em;
  padding: 0;
}
input{
  /* float:right; */
  /* max-width: 95%; */

  height:100%;
  color: #868e96;
  font-size: 1em;
  padding-left: 0.5em;
}
.cicon{
  /* max-width:10%; */
  display: none;
  border-right: 1px solid rgb(255,255,255);
  height: 100%;
  background: #dc3545;
  border-radius: 4px 0 0 4px;
  padding:1rem;
}
textarea{
  max-width: 100%;
  height:100%;
  color: #868e96;
  font-size: 1em;
  padding-left: 0.5em;
  padding-top: 0.5em;
}
.contact_input:nth-of-type(3){

  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  margin-bottom: 1em;
  height: 8em;
  /* font-size: 1.5em; */
  padding: 0;
  max-width: 100%;
}
.contact_input .cicon i{
  color: white;
}

.contact_input:nth-of-type(3) .cicon{
  border-right: 1px solid rgb(255,255,255);
  height: 100%;
  background: #dc3545;
  border-radius: 4px 0 0 4px;
  padding-left: 0.6em;
  padding-top: 3em;
}
.submit{
  width: 100%;
  border-radius: 4px;
  background: #dc3545;
  color: white;
  text-align: center;
  height: 40px;
  padding-top: 0.3em;
  font-weight: bold;
}
.cinputspace, textarea{
  background: #343a40;
}
textarea{
  height: 8em;
}


/*footer starts here */
.footer{
  background: #343a40;
  color: white;
  padding: 1em;
  height: 130px;
  width: 100%;
}
#download_button{
  background: transparent;
  width: 20%;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.5em;

}
.midfoot {
    display: table-cell;
    vertical-align: middle; /* In case, if you need horizontal centering too*/
}
